.flex-container {
    display: flex;
}

.flex {
    border: 2px solid black;
    margin-right: 10px;
    color: black;
    padding-left: 5px;
    
}  

.left {
    flex: 0.25;
}

.right {
    flex: 0.75;
} 

.felxright informazioa {

}