.flex-container {
    display: flex;
    width: fit-content;
}

.flex {
    border: 2px solid black;
    margin-right: 10px;
    color: black;
    padding-left: 5px;
}  

.left {
    padding: 10px;
    flex: 0.25;
    padding-right: 30px;
    padding-left: 20px;
}

.right {
    flex: 0.75;
} 

#izenburua {
    width: 550px;
}

p {
    display: flex;        
    align-items: center;  
    margin-bottom: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

label {
    margin-right: 5px;  
}